@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-link {
    @apply relative before:content-[''] before:absolute before:-top-5 before:right-0
    before:w-5 before:h-5 before:bg-transparent before:rounded-br-3xl before:shadow-[5px_5px_0_5px]
    after:content-[''] after:absolute after:-bottom-5 after:right-0
    after:w-5 after:h-5 after:bg-transparent after:rounded-tr-3xl after:shadow-[5px_-5px_0_5px]
  }
}
