---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import CallToAction from "../components/CallToAction";
import ProductShowcase from "../components/ProductShowcase";
import Footer from "../components/Footer";
---

<Layout title="SignDesignNYC">
  <main class="grid bg-zinc-800">
    <div class="flex flex-col md:h-screen">
      <Navbar client:load />
      <CallToAction />
    </div>
    <ProductShowcase client:visible />
    <Footer />
  </main>
</Layout>
