---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import CallToAction from "../components/CallToAction";
import ProductShowcase from "../components/ProductShowcase";
import Footer from "../components/Footer";
---

<Layout title="SignDesignNYC | Mobile">
  <main class="grid bg-zinc-800">
    <Navbar client:load />
    <CallToAction />
    <ProductShowcase />
    <Footer />
  </main>
</Layout>
