---
import Header from "../components/Header.astro";
import ImageCarousel from '../components/ImageCarousel';
import Navigation from '../components/Navigation';
import Layout from '../layouts/Layout.astro';
---

<Layout title="SignDesignNYC | Home">
  <main class="h-screen flex flex-col">
    <Header />
    <section class="grow flex">
      <Navigation client:load />
      <div class="grow bg-zinc-800 px-8 py-4">
        <h1 class="text-5xl font-bold text-white">HOME</h1>
        <ImageCarousel client:load />
      </div>
    </section>
  </main>
</Layout>
