---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import CallToAction from "../components/CallToAction";
import ProductShowcase from "../components/ProductShowcase";
import Footer from "../components/Footer";

function mapImageFilePaths(files: Record<string, any>[]) {
  return files.map(file => file.default.replace("/public", ""));
}

function mapImageSourceToView(src: string) {
  return { src: src, alt: src };
}

const aFrameStandImgs = await Astro.glob("/public/a-frame-stand/*").then(mapImageFilePaths);
const aluminumBoxPanelImgs = await Astro.glob("/public/aluminum-box-panel/*").then(mapImageFilePaths);
const backlitImgs = await Astro.glob("/public/backlit/*").then(mapImageFilePaths);
const bannerImgs = await Astro.glob("/public/banner/*").then(mapImageFilePaths);
const busTruckVanDoorLetteringImgs = await Astro.glob("/public/bus-truck-van-door-lettering/*").then(mapImageFilePaths);
const cafeStandImgs = await Astro.glob("/public/cafe-stand/*").then(mapImageFilePaths);
const castMetalLettersImgs = await Astro.glob("/public/cast-metal-letters/*").then(mapImageFilePaths);
const channelLettersImgs = await Astro.glob("/public/channel-letters/*").then(mapImageFilePaths);
const corrugatedBoardImgs = await Astro.glob("/public/corrugated-board/*").then(mapImageFilePaths);
const cutPVC3DImgs = await Astro.glob("/public/cut-pvc-3d/*").then(mapImageFilePaths);
const directoryBoardImgs = await Astro.glob("/public/directory-board/*").then(mapImageFilePaths);
const embossedLettersImgs = await Astro.glob("/public/embossed-letters/*").then(mapImageFilePaths);
const engravingWoodImgs = await Astro.glob("/public/engraving-wood/*").then(mapImageFilePaths);
const fabricAwningsImgs = await Astro.glob("/public/fabric-awnings/*").then(mapImageFilePaths);
const fabricFlagImgs = await Astro.glob("/public/fabric-flag/*").then(mapImageFilePaths);
const lightBoxImgs = await Astro.glob("/public/light-box/*").then(mapImageFilePaths);
const neonsImgs = await Astro.glob("/public/neons/*").then(mapImageFilePaths);
const plasticPanelImgs = await Astro.glob("/public/plastic-panel/*").then(mapImageFilePaths);
const pvcImgs = await Astro.glob("/public/pvc/*").then(mapImageFilePaths);
const retractableAwningImgs = await Astro.glob("/public/retractable-awning/*").then(mapImageFilePaths);
const roomNumberImgs = await Astro.glob("/public/room-number/*").then(mapImageFilePaths);
const standOffScrewsImgs = await Astro.glob("/public/stand-off-screws/*").then(mapImageFilePaths);
const stickersImgs = await Astro.glob("/public/stickers/*").then(mapImageFilePaths);
// const vestibulePanelImgs = await Astro.glob("/public/vestibule-panel/*").then(mapImageFilePaths);
// const windmasterImgs = await Astro.glob("/public/windmaster/*").then(mapImageFilePaths);

const products = [
  {
    id: "a-frame-stand-sign",
    title: "A-Frame & Stand Sign",
    images: aFrameStandImgs.map(mapImageSourceToView),
  },
  {
    id: "aluminum-box-panel-sign",
    title: "Aluminum Box & Panel Sign",
    images: aluminumBoxPanelImgs.map(mapImageSourceToView),
  },
  {
    id: "backlit-sign",
    title: "Backlit Sign",
    images: backlitImgs.map(mapImageSourceToView),
  },
  {
    id: "banner-sign",
    title: "Banner Sign",
    images: bannerImgs.map(mapImageSourceToView),
  },
  {
    id: "bus-truck-van-door-lettering",
    title: "Bus, Truck, Van & Door Lettering",
    images: busTruckVanDoorLetteringImgs.map(mapImageSourceToView),
  },
  {
    id: "cafe-stand-sign",
    title: "Cafe Stand & Stand Sign",
    images: cafeStandImgs.map(mapImageSourceToView),
  },
  {
    id: "cast-metal-letters",
    title: "Cast Metal Letters",
    images: castMetalLettersImgs.map(mapImageSourceToView),
  },
  {
    id: "channel-letters",
    title: "Channel Letters",
    images: channelLettersImgs.map(mapImageSourceToView),
  },
  {
    id: "corrugated-board-sign",
    title: "Corrugated Board Sign",
    images: corrugatedBoardImgs.map(mapImageSourceToView),
  },
  {
    id: "cut-pvc-3d-letters",
    title: "Cut PVC 3D Letters",
    images: cutPVC3DImgs.map(mapImageSourceToView),
  },
  {
    id: "directory-board-sign",
    title: "Directory Board Sign",
    images: directoryBoardImgs.map(mapImageSourceToView),
  },
  {
    id: "embossed-letters",
    title: "Embossed Letters",
    images: embossedLettersImgs.map(mapImageSourceToView),
  },
  {
    id: "engraving-wood-sign",
    title: "Engraving Wood Sign",
    images: engravingWoodImgs.map(mapImageSourceToView),
  },
  {
    id: "fabric-awning",
    title: "Fabric Awning",
    images: fabricAwningsImgs.map(mapImageSourceToView),
  },
  {
    id: "fabric-flag-sign",
    title: "Fabric Flag Sign",
    images: fabricFlagImgs.map(mapImageSourceToView),
  },
  {
    id: "light-box",
    title: "Light Box",
    images: lightBoxImgs.map(mapImageSourceToView),
  },
  {
    id: "neon-sign",
    title: "Neon Sign",
    images: neonsImgs.map(mapImageSourceToView),
  },
  {
    id: "plastic-panel-sign",
    title: "Plastic Panel Sign",
    images: plasticPanelImgs.map(mapImageSourceToView),
  },
  {
    id: "pvc-board",
    title: "PVC Board",
    images: pvcImgs.map(mapImageSourceToView),
  },
  {
    id: "retractable-awning",
    title: "Retractable Awning",
    images: retractableAwningImgs.map(mapImageSourceToView),
  },
  {
    id: "room-number-sign",
    title: "Room Number Sign",
    images: roomNumberImgs.map(mapImageSourceToView),
  },
  {
    id: "stand-off-screws-sign",
    title: "Stand-Off Screws Sign",
    images: standOffScrewsImgs.map(mapImageSourceToView),
  },
  {
    id: "sticker-sign",
    title: "Sticker Sign",
    images: stickersImgs.map(mapImageSourceToView),
  },
  {
    id: "vestibule-panel",
    title: "Vestibule Panel",
    // images: vestibulePanelImgs.map(mapImageSourceToView),
    images: [],
  },
  {
    id: "windmaster-sign",
    title: "Windmaster Sign",
    // images: windmasterImgs.map(mapImageSourceToView),
    images: [],
  },
];
---

<Layout title="SignDesignNYC">
  <main class="grid bg-zinc-800">
    <div class="flex flex-col md:h-screen">
      <Navbar client:load />
      <CallToAction />
    </div>
    <ProductShowcase productList={products} client:visible />
    <Footer />
  </main>
</Layout>
