---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro";
import { MailIcon, FacebookIcon, InstagramIcon } from "../components/icons";
---

<Layout title="SignDesignNYC | Mobile">
  <main class="grid bg-zinc-800">
    <!-- Navbar -->
    <nav class="sticky top-0 bg-zinc-800 p-4 w-full grid gap-4 place-items-center">
      <!-- Logo -->
      <a href="/" class="max-w-sm">
        <img
          src="signdesignnyc-logo-dark.svg"
          alt="SignDesignNYC Logo Dark"
          class="w-fit"
        >
      </a>
      <ul class="flex gap-4 flex-wrap justify-center">
        <a href="#awning">
          <li>
            <span class="text-xl font-bold text-zinc-200 hover:text-yellow-300 transition-all duration-150 ease-in-out">
              Awning
            </span>
          </li>
        </a>
        <a href="#neon">
          <li>
            <span class="text-xl font-bold text-zinc-200 hover:text-yellow-300 transition-all duration-150 ease-in-out">
              Neon
            </span>
          </li>
        </a>
        <a href="#channel-letters">
          <li>
            <span class="text-xl font-bold text-zinc-200 hover:text-yellow-300 transition-all duration-150 ease-in-out">
              Channel Letters
            </span>
          </li>
        </a>
        <a href="#pvc">
          <li>
            <span class="text-xl font-bold text-zinc-200 hover:text-yellow-300 transition-all duration-150 ease-in-out">
              PVC
            </span>
          </li>
        </a>
        <a href="#stickers">
          <li>
            <span class="text-xl font-bold text-zinc-200 hover:text-yellow-300 transition-all duration-150 ease-in-out">
              Stickers
            </span>
          </li>
        </a>
      </ul>
    </nav>
    <!-- Call to Action -->
    <section class="mt-8 px-4 w-full grid">
      <div class="place-self-center grid gap-6 w-full max-w-sm">
        <h1 class="font-bold text-zinc-100 text-4xl">
          Custom Vinyl Stickers, Awnings, Neon Signs, PVC, and more!
        </h1>
        <a
          href="mailto:signdesignnyc@gmail.com"
          target="_blank"
          class="grid place-items-center rounded-full p-2 bg-yellow-400 hover:cursor-pointer"
        >
          <span class="font-bold text-zinc-800 text-2xl">Contact for Pricing</span>
        </a>
      </div>
    </section>
    <!-- Product Showcase -->
    <section class="mt-8 px-4 w-full grid">
      <div class="place-self-center grid gap-6 w-full max-w-sm">
        <!-- Awning -->
        <div id="awning" class="grid gap-4">
          <h1 class="font-bold text-zinc-100 text-3xl">
            Awning
          </h1>
          <div class="grid gap-4">
            <img
              src="awnings/2011-fabric-awning-cornercafe.jpg"
              alt="2011 Fabric Awning - Corner Cafe & Grill"
              class="rounded-lg"
            >
            <img
              src="awnings/2012-fabric-awning-hrblock.jpg"
              alt="2012 Fabric Awning - H&R Block"
              class="rounded-lg"
            >
            <img
              src="awnings/2012-fabric-awning-zerza.jpg"
              alt="2012 Fabric Awning - Zerza Mediterranean"
              class="rounded-lg"
            >
          </div>
        </div>
        <!-- Neon -->
        <div id="neon" class="grid gap-4">
          <h1 class="font-bold text-zinc-100 text-3xl">
            Neon
          </h1>
          <div class="grid gap-4">
            <img
              src="neons/2013-neon-sign-bar.jpg"
              alt="2013 Neon Sign - Dive Bar"
              class="rounded-lg"
            >
            <img
              src="neons/2014-neon-sign-sprint.jpg"
              alt="2014 Neon Sign - Sprint Sound Sessions"
              class="rounded-lg"
            >
            <img
              src="neons/2016-neon-sign-burger.jpg"
              alt="2016 Neon Sign - Burger"
              class="rounded-lg"
            >
            <img
              src="neons/2017-neon-sign-booth.jpg"
              alt="2017 Neon Sign - Booth"
              class="rounded-lg"
            >
          </div>
        </div>
        <!-- Channel Letters -->
        <div id="channel-letters" class="grid gap-4">
          <h1 class="font-bold text-zinc-100 text-3xl">
            Channel Letters
          </h1>
          <div class="grid gap-4">
            <img
              src="channel-letters/2011-channel-letters-ktv.jpg"
              alt="2011 Channel Letters - KTV"
              class="rounded-lg"
            >
            <img
              src="channel-letters/2012-channel-letters-hanami-sushi.jpg"
              alt="2012 Channel Letters - Hanami Sushi"
              class="rounded-lg"
            >
            <img
              src="channel-letters/2012-channel-letters-tea.jpg"
              alt="2012 Channel Letters - Tea"
              class="rounded-lg"
            >
            <img
              src="channel-letters/2016-channel-letters-lobster-pub.jpg"
              alt="2016 Channel Letters - Lobster Pub"
              class="rounded-lg"
            >
          </div>
        </div>
        <!-- PVC -->
        <div id="pvc" class="grid gap-4">
          <h1 class="font-bold text-zinc-100 text-3xl">
            PVC
          </h1>
          <div class="grid gap-4">
            <img
              src="pvc/2005-2010-pvc-food-menu.jpg"
              alt="2005-2010 PVC - Food Menu"
              class="rounded-lg"
            >
            <img
              src="pvc/2013-double-sided-pvc-sign.jpg"
              alt="2013 Double Sided PVC - Togama"
              class="rounded-lg"
            >
            <img
              src="pvc/2013-pvc-board-sign-food-passion.jpg"
              alt="2013 PVC Board Sign - Food Passion"
              class="rounded-lg"
            >
            <img
              src="pvc/2022-pvc-board-sign-carriage-house.jpg"
              alt="2022 PVC Board Sign - Carriage House"
              class="rounded-lg"
            >
          </div>
        </div>
        <!-- Stickers -->
        <div id="stickers" class="grid gap-4">
          <h1 class="font-bold text-zinc-100 text-3xl">
            Vinyl Stickers
          </h1>
          <div class="grid gap-4">
            <img
              src="stickers/2013-window-sticker-k47.jpg"
              alt="2013 Window Sticker - K47"
              class="rounded-lg"
            >
            <img
              src="stickers/2019-wall-sticker-about.jpg"
              alt="2019 Wall Sticker - About Us"
              class="rounded-lg"
            >
            <img
              src="stickers/2022-frosted-glass.jpg"
              alt="2022 Frosted Glass Door Sticker"
              class="rounded-lg"
            >
            <img
              src="stickers/2022-wall-sticker-winter-surf.jpg"
              alt="2022 Wall Sticker - Winter Surf"
              class="rounded-lg"
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer class="mt-12 px-4 w-full bg-zinc-900">
      <div class="my-8 max-w-sm m-auto flex flex-col gap-4">
        <!-- Logo -->
        <a href="/" class="max-w-xs">
          <img src="signdesignnyc-logo-dark.svg" alt="SignDesignNYC Logo Dark" class="w-fit">
        </a>
        <!-- Social Links -->
        <div class="flex -translate-x-2">
          <a
            href="mailto:signdesignnyc@gmail.com"
            target="_blank"
            title="Email"
            class="group p-2"
          >
            <MailIcon
              className="w-8 h-8 text-zinc-100 group-hover:text-yellow-300 transition-all duration-150 ease-in-out"
            />
          </a>
          <a
            href=""
            title="Facebook"
            class="group p-2"
          >
            <FacebookIcon
              className="w-8 h-8 text-zinc-100 group-hover:text-yellow-300 transition-all duration-150 ease-in-out"
            />
          </a>
          <a
            href=""
            title="Instagram"
            class="group p-2"
          >
            <InstagramIcon
              className="w-8 h-8 text-zinc-100 group-hover:text-yellow-300 transition-all duration-150 ease-in-out"
            />
          </a>
        </div>
        <!-- Copyright -->
        <span class="mt-20 text-zinc-500 text-sm">
          &copy; 2023 SignDesignNYC, All Rights Reserved
        </span>
      </div>
    </footer>
  </main>
</Layout>
